.exp{
    margin: 50px;
    background-color: rgb(41, 10, 245);
    color: white;
    border-radius:0.5cm;
}
.sale{
    margin: 50px;
    background-color: blue;
    color: white;
    border-radius:0.5cm ;  
}

.pro{
    margin: 50px;
    background-color: blue;
    color: white;
    border-radius:0.5cm ;
    
}
.on{
    margin: 50px;
    border-radius:0.5cm ;
    border-style:solid ;
}

