<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'MANAGER_PAGE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-h2>
  <ion-toolbar>
    <ion-title>{{ 'Daily_Activity'| translate}}</ion-title>
  </ion-toolbar>
</ion-h2>
<ion-content>
    
  <ion-item>
    <ion-label> Date</ion-label>
    <ion-datetime [(ngModel)]="Date" displayFormat="DD-MM-YYYY" placeholder="Select Date"> </ion-datetime>


  </ion-item>
  <ion-item>
    <ion-label>
      No.of.Sale
    </ion-label>

    </ion-item>

  

  


</ion-content>
