<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'Manager_Page' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-h2>
  <ion-toolbar>
    <ion-title>{{ 'Daily_Activity'| translate}}</ion-title>
  </ion-toolbar>
</ion-h2>
<ion-content>
    
  <ion-item>
    <ion-label> Date</ion-label>
    <ion-datetime [(ngModel)]="Date" displayFormat="DD-MM-YYYY" placeholder="Select Date"> </ion-datetime>


  </ion-item>
  <ion-item>
    <ion-label>
      {{'No.of.Sale'| translate}}
    </ion-label>

    </ion-item>
<ion-item>
  <ion-label>
    {{'No.of.assigned bars'| translate}}
  </ion-label>
</ion-item>
<ion-item>
  <ion-label>
    {{'No.of.sold bars'| translate}}
  </ion-label>
</ion-item>  
<ion-item>
  <ion-label>
    {{'Expense'| translate}}
  </ion-label>
</ion-item>
  


</ion-content>
