 <ion-header>
  <ion-toolbar>
    <ion-title>{{'MANAGER_PAGE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <!-- *********************** OnDuty ******************* -->
  <ion-card class="on">
    <ion-item lines="none">
      <ion-icon color="success" name="person" slot="start"></ion-icon>
      <ion-label>
        <h2>biju</h2>
        <p>On Duty</p></ion-label
      >
      <ion-label>
        <h2>10.10 Am</h2>
        <p>Last checkin</p></ion-label
      >
      <ion-icon color="danger" name="power" slot="end"></ion-icon>
    </ion-item>
  </ion-card>
  <!-- *********************** SALES ******************* -->
  <h2 class="ion-padding sideHeading">Sale</h2>
  <ion-card class="sale" >
    <ion-row>
      <ion-col >
        <ion-icon color="danger" name="dice"></ion-icon>
        <h1>80</h1>
        <p >{{'No_of_assigned_bars' | translate}}</p>
      </ion-col>
      <ion-col>
        <ion-icon color="danger" name="dice" size="large"></ion-icon>
        <h1>10</h1>
        <p>{{'No_of_Sale' | translate}}</p> </ion-col
      ><ion-col>
        <ion-icon color="danger" name="cash"size="large"></ion-icon>
        <h1>1000</h1>
        <p>Amount</p>
      </ion-col>
    </ion-row>
  </ion-card>

  
  <ion-card class="exp">
     <ion-row>
       <ion-col >
        <ion-icon color="danger" name="dice" size="large"></ion-icon>
         <h1>
        <ion-progress-bar  color="light"   value="0.5" ></ion-progress-bar></h1>
        <p>
          sold bars
        </p>
       </ion-col></ion-row></ion-card>

       <ion-card class="pro">
         <ion-row >
       <ion-col >
         <h1> 2</h1>
         <p> {{'Expense'| translate}} </p>
       </ion-col>
     </ion-row>

  </ion-card>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      
      <ion-button>
        <ion-icon name="add"></ion-icon>
      </ion-button>
  
      
  
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
  
</ion-content>

