<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>LIST-SALE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="loading"*ngIf="waitingFlag == true">
    <ion-spinner></ion-spinner>
  </div>
  <ion-card class="ion-padding" *ngFor="let sale of sales">
    {{ sale.date }}
    <p>{{ sale.time }}</p>
    <p>{{ sale.vechicleType }}</p>
    <p>{{ sale.ratePerItem }}</p>
    <p>{{ sale.numberOfItems }}</p>
    <p>{{ sale.iceType }}</p>
  </ion-card>

  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/sale">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>