<ion-content>
  <div class="logo">
    <ion-img src="/assets/img/iceLogo.webp"></ion-img>
  </div>

  <ion-card>
    <ion-item lines="none">
      <ion-icon slot="start" name="language-outline"></ion-icon>
      Englsih
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-icon slot="start" name="language-outline"></ion-icon>
      தமிழ்
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-icon slot="start" name="language-outline"></ion-icon>
      हिंदी
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-icon slot="start" name="language-outline"></ion-icon>
      অসমীয়া
    </ion-item>
  </ion-card>
</ion-content>
