.outer{
    
    max-width: 300px;
    max-height: 300pc;
    margin: 150px auto;

}
.circle{
   
    color: rgb(255, 0, 212);
    max-width: 16px;
    max-height: 16px;
    margin-right: 20px ;

}
.lock{
    color: rgb(255, 0, 212);
    margin-right: 20px ;

}

