<ion-content>
  <div class="outer">
    <h3>SIGN IN</h3>
    <ion-item>
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>User Name:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="lock-closed"></ion-icon>
      <ion-label>Password:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-button expand="full" color="danger">SIGN IN </ion-button>
    <ion-toggle color="danger"> </ion-toggle>
   <ion-note color="danger">Remember me </ion-note>  
   <ion-button  color="primary">Forgot password </ion-button>
   <ion-button color="success">SIGN UP</ion-button>
 
  </div>
</ion-content>