<ion-content>
  <div class="outer">
    <h3>SIGN IN</h3>
    <ion-item>
      <div class="circle">
        <ion-icon name="person-circle"></ion-icon>
      </div>
      <ion-label>User Name:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <div class="lock">
        <ion-icon name="lock-closed"></ion-icon>
      </div>
      <ion-label>Password:</ion-label>
      <div class="eye">
        <ion-icon name="eye"></ion-icon>
      </div>
      <ion-input></ion-input>
    </ion-item>
    <ion-button expand="full" color="success" (click)="navigatePage()"
      >SIGN IN
    </ion-button>
    <ion-toggle color="danger"> </ion-toggle>
    <ion-note color="danger">Remember me </ion-note>
    <ion-button color="primary">Forgot password </ion-button>
  </div></ion-content
>
