<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>LIST-WORKER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="loading" *ngIf="waitingFlag == true">
    <ion-spinner ></ion-spinner>
  </div>
 
      <ion-list *ngIf="waitingFlag != true">
        <ion-card  *ngFor="let worker of workers">
          {{worker.date }}
          <p>{{ worker.time }}</p>
          <p>{{ worker.iceProduced }}</p>
    
    </ion-card>  
  
</ion-list>
    <ion-fab vertical="center" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/worker">
        <ion-icon name="add"></ion-icon>  
      </ion-fab-button>
    </ion-fab>
</ion-content>
