<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'WORKER' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="workerForm" (ngSubmit)="save()">
    <ion-text
      class="ion-padding"
      color="danger"
      *ngIf="submited && workerForm.controls.date.errors?.required"
    >
      {{'ENTER_DATE' | translate}}
    </ion-text>
    <ion-item>
      <ion-label>{{'DATE' | translate}} </ion-label>
      <ion-datetime
        formControlName="date"
        displayFormat="DD-MM-YYYY"
        placeholder="Select Date"
      >
      </ion-datetime>
    </ion-item>
    <ion-text
      class="ion-padding"
      color="danger"
      *ngIf="submited && workerForm.controls.time.errors?.required"
    >
      {{'ENTER_TIME' | translate}}
    </ion-text>
    <ion-item>
      <ion-label>{{'TIME' | translate}}</ion-label>
      <ion-datetime
        id="Time"
        formControlName="time"
        displayFormat="HH:mm"
        placeholder="Select time"
      ></ion-datetime>
    </ion-item>
    <ion-text
      class="ion-padding"
      color="danger"
      *ngIf="submited && workerForm.controls.iceProduced.errors?.required"
    >
      {{'ENTER_ICEPRODUCED' | translate}}
    </ion-text>
    <ion-item>
      <ion-label> {{'NO_OF_ICE_PRODUCED' | translate}} : </ion-label>
      <ion-input type="number" formControlName="iceProduced"></ion-input>
    </ion-item>
    <div class="ion-padding">
      <ion-button expand="block" color="success" type="submit"
        >{{'SAVE' | translate}}
      </ion-button>
    </div>
  </form>
</ion-content>
