<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'WORKER' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 
    <form [formGroup]="workerForm" (ngSubmit)="save()">
  <ion-text
  color="danger"
  *ngIf="submited && workerForm.controls.date.errors?.required">
  Date should be Entered.
</ion-text>
      <ion-item>
    <ion-label>{{'DATE' | translate}} </ion-label>
    <ion-datetime
    formControlName="date"
      displayFormat="DD-MM-YYYY"
      placeholder="Select Date"
    >
    </ion-datetime>
  </ion-item>
  <ion-text
  color="danger"
    *ngIf="submited && workerForm.controls.time.errors?.required">
    Time should be Entered
  </ion-text>
  <ion-item>
    <ion-label>{{'TIME' | translate}}</ion-label>
    <ion-datetime
      id="Time"
      formControlName="time"
      displayFormat="HH:mm"
      placeholder="Select time"
    ></ion-datetime>
  </ion-item>
  <ion-text
  color="danger"
    *ngIf="submited &&  workerForm.controls.iceproduced.errors?.required">
 
    iceproduced should be Entered
  </ion-text>
  <ion-item>
    <ion-label> {{'NO-OF-ICE-PRODUCED' | translate}} : </ion-label>
    <ion-input type="number" formControlName="iceproduced"></ion-input>
  </ion-item>
    <ion-button color="success" type="submit" expand="block">Save</ion-button>
  </form>

</ion-content>
