<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>SALE </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="outer">
    <form [formGroup]="saleForm" (ngSubmit)="save()">
    <ion-item>
      <ion-label> Date</ion-label>
      <ion-datetime formControlName="date" displayFormat="DD-MM-YYYY" placeholder="Select Date"> </ion-datetime>


    </ion-item>
    <ion-item>
      <ion-label>Time</ion-label>
      <ion-datetime id="Time" formControlName="time" displayFormat="HH:mm"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Vechicle Type</ion-label>
      <ion-select formControlName="vechicleType">
        <ion-select-option value="Two Wheeler"> Two Wheeler</ion-select-option>
        <ion-select-option value="Auto">Auto</ion-select-option>
        <ion-select-option value="Tembo">Tembo</ion-select-option>
        <ion-select-option value="Truck">Truck</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label> Rate Per Ice : </ion-label>
      <ion-input type="number" formControlName="ratePerItem"></ion-input>

    </ion-item>
    <ion-item>
      <ion-label> No.of.Bars :</ion-label>
      <ion-input type="number" formControlName="numberOfItems"></ion-input>
    </ion-item>
    <!-- <ion-item>Ice Type</ion-item> -->
    <ion-row>
      <ion-col>Ice Type</ion-col>
      <ion-col> 
         <ion-segment formControlName="iceType"> 
       
        <ion-segment-button  value="full">
          <ion-label>Full</ion-label>
        </ion-segment-button>
     
        <ion-segment-button value="smashed">
          <ion-label>Smashed</ion-label>
        </ion-segment-button>
      
    </ion-segment></ion-col>
    </ion-row>
  
    <ion-item>
      <ion-button color="success">Customer</ion-button>(optional)
      <ion-toolbar>
        <ion-searchbar></ion-searchbar>
      </ion-toolbar>
    </ion-item>
    <ion-item>
      <ion-label> TOTAL : </ion-label>
    </ion-item>
    
      <ion-button color="success" type="submit" expand="block">COMPLETE SALE</ion-button>
    
  </form>
  </div>
</ion-content>