<ion-header>
  <ion-toolbar>
    <ion-title>{{'WORKER' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
    <ion-item>
      <ion-label> {{'DATE' | translate}}</ion-label>
      <ion-datetime [(ngModel)]="Date" displayFormat="DD-MM-YYYY" placeholder="Select Date"> </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>{{'TIME' | translate}}</ion-label>
      <ion-datetime id="Time" [(ngModel)]="Time" displayFormat="hh:mm" placeholder="Select time"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>{{'NO_OF_ICE_PRODUCED' | translate}}</ion-label>
      <ion-input type="number"[(ngModel)]="nooficeproduced" ></ion-input>
    </ion-item> <div class="ion-padding">
      <ion-button color="success" expand="block" (click)="saveWorker()">Save</ion-button>
    </div>
</ion-content>