<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>list-payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="loading" *ngIf="waitingFlag == true">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list *ngIf="waitingFlag == false">
    <ion-card class="ion-padding" *ngFor="let payment of payments">
      {{ payment.date }}
      <p>{{ payment.time }}</p>
      <p>{{ payment.customerName }}</p>
      <p>{{ payment.paymentType }}</p>
      <p>{{ payment.amount }}</p>
    </ion-card>
  </ion-list>
 
  <!-- <ion-list >
  
    <ion-item  *ngFor="let payment of payments" >
      
      {{ payment.payment_date  }}
   
      <ion-badge slot="end"> {{ payment.payment_amount }}</ion-badge>
     
     
    </ion-item> 
   
    
  </ion-list> -->

  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/record-payment">
      <ion-icon name="add"></ion-icon>  
    </ion-fab-button>
  </ion-fab>
</ion-content>
