<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="outer">
      <h3>SIGN IN</h3>

      <ion-text
        color="danger ion-padding"
        *ngIf="submited && loginForm.controls.userName.errors?.required"
      >
        User name should not be empty.
      </ion-text>

      <ion-text
        color="danger"
        *ngIf="submited && loginForm.controls.userName.errors?.pattern"
      >
        Please enter a valid email address.
      </ion-text>

      <ion-item lines="none">
        <ion-icon slot="start" name="person-circle"></ion-icon>
        <ion-label position="stacked">User Name:</ion-label>
        <ion-input formControlName="userName"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-label position="stacked"> Password:</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <br />
      <br />

      <ion-button expand="block" color="success" type="submit"
        >SIGN IN Tony
      </ion-button>

      <br />
    </div>
  </form>
</ion-content>
