<!-- <ion-header>
  <ion-toolbar>
    <ion-title>{{'OWNER' | translate}}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- *********************** OnDuty ******************* -->
  <ion-card>
    <ion-item lines="none">
      <ion-icon color="success" name="person" slot="start"></ion-icon>
      <ion-label>
        <h2>Mahesh</h2>
        <p>On Duty</p></ion-label
      >
      <ion-label>
        <h2>10.10 Am</h2>
        <p>Last checkin</p></ion-label
      >
      <ion-icon color="danger" name="power" slot="end"></ion-icon>
    </ion-item>
  </ion-card>
  <!-- *********************** SALES ******************* -->
  <h2 class="ion-padding sideHeading">Sale</h2>
  <ion-card class="saleBox">
    <ion-row>
      <ion-col>
        <ion-icon color="danger" name="power"></ion-icon>
        <h1>80</h1>
        <p>No of sale</p>
      </ion-col>
      <ion-col>
        <ion-icon color="danger" name="power"></ion-icon>
        <h1>80</h1>
        <p>Total sale</p> </ion-col
      ><ion-col>
        <ion-icon color="danger" name="power"></ion-icon>
        <h1>80</h1>
        <p>Amount</p>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
