label {
    padding-right: 10px;
    font-size: 1rem;
}
.warning {
    border: 4mm ridge rgb(1, 79, 248);
    background-color: rgba(4, 103, 253, 0.993);
    padding: .5rem;
   display: block flow;
    flex-direction: column;
}

.warning label {
    font: 1.2em "Fira Sans", sans-serif;
    padding: 500pt;
}
