<ion-header>
  <ion-toolbar>
    <ion-title>{{'OWNER' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<div class="warning">
 
  <ion-progress-bar value="0.5"></ion-progress-bar>
<br>
<br>
<br>
</div>
<ion-content>
  <ion-item>
    <ion-label> {{'DATE' |  translate}}</ion-label>
    <ion-datetime [(ngModel)]="Date" displayFormat="DD-MM-YYYY" placeholder="Select Date"> 
    </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label> {{'ON-DUTY' | translate}}:</ion-label>
    <ion-input [(ngModel)]="onDuty"  ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label> {{'NO-OF-BARS-SOLD' | translate}}</ion-label>
    <ion-input [(ngModel)]="noofbarsSold" type="Number" ></ion-input>
   
  </ion-item>
  <ion-item>
    <label for="file">{{'LAST-PRODUCTION' | translate}}</label>
    <ion-input [(ngModel)]="lastProduction"  type="string"></ion-input>
    <progress id="file" max="100" value="50"> </progress>
  </ion-item>
  <ion-item>
    <ion-label>{{'EXPENSE' | translate}} </ion-label>
    <ion-input [(ngModel)]="expense"  type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{'CREDIT' | translate}}</ion-label>
    <ion-input [(ngModel)]="credit"  type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{'TOTAL-SALE' | translate}}</ion-label>
    <ion-input [(ngModel)]="totalSale"  type="number"></ion-input>
  </ion-item>
  <ion-button color="success"(click)="savechanges()">{{'SAVE' | translate}}</ion-button>
</ion-content>
 
