<ion-header>
  <ion-toolbar>
    <ion-title>Add New Employee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <ion-item>
    <ion-label> New Employee</ion-label>
    
    
  </ion-item>

 
</ion-card>
<ion-fab  vertical="bottom" horizontal="end" size="small" slot="fixed">
  <ion-fab-button size="small">
    <ion-icon name="add" size="medium"></ion-icon>
  </ion-fab-button>
</ion-fab >
<ion-card  >
  <div class="size">
<ion-label> Name:</ion-label>
      <ion-input></ion-input>
    </div>
</ion-card>
<ion-card>
  <ion-label> Mobile Number:</ion-label>
        <ion-input type="number"></ion-input>
  </ion-card>
  <ion-card>
  <ion-label> Address:</ion-label>
        <ion-input></ion-input>
  </ion-card>
  <div class="ion-padding">
    <ion-button color="success" expand="block">Save</ion-button>
    </div>


      





</ion-content>
