<ion-header>
  <ion-toolbar>
    <ion-title>{{'ADD-NEW-EMPLOYEE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card text-alignment="center" >
  
    <ion-item>
<ion-label>{{'NAME' | translate }}</ion-label>
      <ion-input></ion-input>
    </ion-item>
</ion-card>
<ion-card>
  <ion-item>
  <ion-label>{{'MOBILE-NUMBER' | translate }}</ion-label>
 <ion-input type="number"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
    <ion-item>
  <ion-label>{{'ADDRESS'| translate }}</ion-label>
<ion-input></ion-input>
      </ion-item>
  </ion-card>
  <ion-card>
  <ion-item>
    <ion-label>{{'POSITION' | translate }}</ion-label>
          <ion-input></ion-input>
        </ion-item>
        </ion-card>
  <div class="ion-padding">
    <ion-button color="success" expand="block">{{'SAVE' | translate }}</ion-button>
    </div>

    
      





</ion-content>
