
.loading{
    
    text-align:center;
    padding:100px;
     ion-spinner{
        padding:20px;
        margin:0 atuo ;
    }
}
ion-card{
    margin-top:25px;
    box-shadow:0px 2px 10px #9b9999;
    padding:8px;
    border-left: 3px solid #f00a0a;
    border-right:2px solid #da0101; 
   
}
h6{
    font-size: 19px !important;
}
p{
    color:black;
}

