<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>LIST-EXPENSE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card class="ion-padding" *ngFor="let customer of customers">
      {{ customer.name }}
      <p>{{ customer.mobile }}</p>
      <p>{{ customer.email }}</p>
    </ion-card>
  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/expense">
      <ion-icon name="add"></ion-icon> 
    </ion-fab-button>
  </ion-fab>
</ion-list>
</ion-content>
