<ion-header>
  <ion-toolbar>
    <ion-title>LIST-EXPENSE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ion-item>
    <ion-label>EXPENSE-1</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>EXPENSE-2</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>EXPENSE-3</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>EXPENSE-4</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>EXPENSE-5</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>EXPENSE-6</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>EXPENSE-7</ion-label>
  </ion-item>
</ion-list>

  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
      
      
    </ion-fab-button>
  </ion-fab>


</ion-content>
