<ion-header>
  <ion-toolbar>
    <ion-title>SALE </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding brunog">
  <ion-item>
    <ion-label> Date</ion-label>
    <ion-datetime
      displayFormat="DD-MM-YYYY"
      placeholder="selete Date"
    ></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Time</ion-label>
    <ion-datetime id="Time" displayFormat="HH:mm"></ion-datetime>
  </ion-item>

  <h2>Vechicle Type</h2>
  <input type="number" />
  <h2>No Of Bars</h2>
  <input type="number" />
  <h2>Rate per Ice</h2>
  <input type="number" />
  <h2>Type of Ice</h2>
  Full<ion-checkbox></ion-checkbox> Smashed<ion-checkbox></ion-checkbox>
  <h2>Customer</h2>
  optional
  <ion-list>
    <ion-item>
      <ion-note slot="start"></ion-note>
      <ion-label>Note (Start)</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
