<ion-header>
  <ion-toolbar>
    <ion-title>SALE </ion-title>
  </ion-toolbar>
  </ion-header>

   <ion-content>
      <div class="mm">
       
     <h2>NEW SALE </h2>
    <h2>Date</h2>
    <ion-item>
      <ion-label></ion-label>
      <ion-datetime displayFormat="MM DD YY" placeholder="selete Date"></ion-datetime>
    </ion-item>
    <h2>Time</h2><ion-item>
      <ion-label>Time</ion-label>
      <ion-datetime id="Time" displayFormat="time" ></ion-datetime>
    </ion-item>
  <ion-input type="number" placeholder="Awesome Input"></ion-input>
      <h2>Vechicle Type</h2>
      <input type="number" />
      <h2>No Of Bars</h2>
      <input type="number" />
      <h2>Rate per Ice</h2>
      <input type="number" />
      <h2>Type of Ice</h2>
      Full<ion-checkbox></ion-checkbox>
      Smashed<ion-checkbox></ion-checkbox>
      <h2>Customer</h2>optional
      <ion-list>
      <ion-item>
        <ion-note slot="start"></ion-note>
        <ion-label>Note (Start)</ion-label>
      </ion-item>
    </ion-list>
     </div>

 </ion-content>
  
