.brunog{
    --ion-padding:200px !important;
    --ion-text-color: rgb(102, 20, 3);
    
        --ion-font-family : apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
    }
    
    
