<ion-header>
  <ion-toolbar>
    <div class="head">
      <ion-title>{{'CUSTOMER-PROFILE' |  translate}} </ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="outer">
    <ion-item>
      <ion-label>{{'NAME' | translate}} </ion-label>
      <ion-input [(ngModel)]="Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'MOBILE-NUMBER | translate}}</ion-label>
      <ion-input type="tel" [(ngModel)]="Mobile"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'EMAIL-ID' |  translate}}</ion-label>
      <ion-input type="Email" [(ngModel)]="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'VECHICLE-TYPE' | translate}}</ion-label>
      <ion-select [(ngModel)]="vechicle">
        <ion-select-option value="Two Wheeler">Two Wheeler</ion-select-option>
        <ion-select-option value="Auto">Auto</ion-select-option>
        <ion-select-option value="Tembo">Tembo</ion-select-option>
        <ion-select-option value="Truck">Truck</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{'NEED-RECEIPT' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="Receipt" color="danger"></ion-toggle>
    </ion-item>
    <ion-button color="success">{{'SAVE' | translate}}</ion-button>
  </div>
  <ion-item>
    <ion-label> Name:{{Name}} </ion-label>
    <ion-label> Mobile Number:{{Mobile}} </ion-label>
    <ion-label> Email ID:{{Email}} </ion-label>
    <ion-label> Vechicle Type:{{vechicle}} </ion-label>
    <ion-label> Need Receipt:{{Receipt}} </ion-label>
  </ion-item>
</ion-content>