<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>LIST-WORKER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
  
    <ion-item  *ngFor="let worker of workers" >
      
      {{ worker }}
     
    </ion-item> 
    <ion-fab vertical="center" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/worker">
        <ion-icon name="add"></ion-icon>  
      </ion-fab-button>
    </ion-fab>
  </ion-list>
</ion-content>
