<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Ice Plant {{'60' | cur}} </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item routerLink="/customer-profile">
      {{'CUSTOMER' | translate}}
    </ion-item>
    <ion-item routerLink="/sale"> {{'SALE' | translate}} </ion-item>
    <ion-item routerLink="/expense"> {{'EXPENSE' | translate}} </ion-item>
    <ion-item routerLink="/record-payment">
      {{'RECORD-PAYMENT' | translate}}
    </ion-item>
    <ion-item routerLink="/worker"> {{'WORKER' | translate}} </ion-item>
    <ion-item routerLink="/owner"> {{'OWNER' | translate}} </ion-item>
  </ion-list>
</ion-content>
