<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'RECORD_PAYMENT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="recordPaymentForm" (ngSubmit)=" recordPayment()">
    <ion-text
      class="ion-padding"
      color="danger"
      *ngIf="submited && recordPaymentForm.controls.date.errors?.required"
    >
      {{'ENTER_DATE' | translate }}
    </ion-text>
    <ion-item>
      <ion-label>{{'DATE' | translate}}</ion-label>
      <ion-datetime
        formControlName="date"
        displayFormat="DD-MM-YYYY"
        placeholder="Select Date"
      ></ion-datetime>
    </ion-item>
    <ion-text
      class="ion-padding"
      color="danger"
      *ngIf="submited && recordPaymentForm.controls.time.errors?.required"
    >
      {{'ENTER_TIME' | translate }}
    </ion-text>
    <ion-item>
      <ion-label>{{'TIME' | translate}}</ion-label>
      <ion-datetime
        formControlName="time"
        displayFormat="hh:mm A"
        placeholder="Select Time"
      ></ion-datetime>
    </ion-item>
    <ion-text
      class="ion-padding"
      color="danger"
      *ngIf="submited && recordPaymentForm.controls.customerName.errors?.required"
    >
      {{'ENTER_CUSTOMER' | translate }}
    </ion-text>
    <ion-item>
      <ion-label>{{'CUSTOMER_NAME' | translate}}</ion-label>
      <ion-input formControlName="customerName" type="text"></ion-input>
    </ion-item>
    <ion-text
      class="ion-padding"
      color="danger"
      *ngIf="submited && recordPaymentForm.controls.paymentType.errors?.required"
    >
      {{'ENTER_PAYMENT' | translate }}
    </ion-text>
    <ion-item>
      <ion-label>{{'PAYMENT_TYPE' | translate}}</ion-label>
      <ion-select placeholder="Select One" formControlName="paymentType">
        <ion-select-option value="cash">Cash</ion-select-option>
        <ion-select-option value="cheque">Cheque</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text
      class="ion-padding"
      color="danger"
      *ngIf="submited && recordPaymentForm.controls.amount.errors?.required"
    >
      {{'ENTER_AMOUNT' | translate }}
    </ion-text>
    <ion-item>
      <ion-label>{{'AMOUNT' | translate}}</ion-label>
      <ion-input formControlName="amount" type="number"></ion-input>
    </ion-item>
    <div class="ion-padding">
      <ion-button expand="block" color="success" type="submit">SAVE</ion-button>
    </div>
  </form>
</ion-content>
