<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'RECORD-PAYMENT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>{{toni}}</div>
  <br />
  <ion-item>
    <ion-label>{{'DATE' | translate}}</ion-label>
    <ion-datetime
      [(ngModel)]="date"
      displayFormat="DD-MM-YYYY"
      placeholder="Select Date"
    ></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>{{'TIME' | translate}}</ion-label>
    <ion-datetime
      [(ngModel)]="time"
      displayFormat="hh:mm A"
      placeholder="Select Time"
    ></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>{{'CUSTOMER-NAME' | translate}}</ion-label>
    <ion-input [(ngModel)]="customername" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{'PAYMENT-TYPE' | translate}}</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="paymenttype">
      <ion-select-option value="f">Cash</ion-select-option>
      <ion-select-option value="m">Cheque</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>{{'AMOUNT' | translate}}</ion-label>
    <ion-input [(ngModel)]="amount" type="number"></ion-input>
  </ion-item>
  <br />
  <br />
  <div class="ion-padding">
    <ion-button expand="block" (click)="showValues()" color="success"
      >SAVE</ion-button
    >
  </div>
</ion-content>
