<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="head">
      <ion-title>{{'ADD-NEW-CUSTOMER'| translate}} </ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="outer">
    <ion-item>
      <ion-label>{{'CUSTOMER-NAME' | translate}}</ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'MOBILE-NUMBER'| translate}}</ion-label>
      <ion-input type="tel" [(ngModel)]="mobile"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'EMAIL-ID' | translate}}</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'VECHICLE-TYPE' | translate}}</ion-label>
      <ion-select [(ngModel)]="vechicleType">
        <ion-select-option value="Two Wheeler">{{'TWO-WHEELER' | translate}}</ion-select-option>
        <ion-select-option value="Auto">{{'AUTO' | translate}}</ion-select-option>
        <ion-select-option value="Tembo">{{'TEMPO' | translate}}</ion-select-option>
        <ion-select-option value="Truck">{{'TRUCK' | translate}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{'NEED-RECEIPT' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="needRecipt" color="success"></ion-toggle>
    </ion-item>
    <br />
    <div class="ion-padding">
      <ion-button color="success" expand="block">{{'SAVE' | translate}}</ion-button>
    </div>
  </div>
</ion-content>
