<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="head">
      <ion-title>{{'ADD_NEW_CUSTOMER'| translate}} </ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="outer">
    <form [formGroup]="customerProfileForm" (ngSubmit)="save()">
      <ion-text class="ion-padding" color="danger"
        *ngIf="submited && customerProfileForm.controls.name.errors?.required">
        {{'NAME'| translate}}
      </ion-text>
      <ion-item>
        <ion-label>{{'CUSTOMER_NAME' | translate}}</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-text class="ion-padding" color="danger "
        *ngIf="submited && customerProfileForm.controls.mobile.errors?.required">
        {{'NUMBER'| translate}}
      </ion-text>
      <ion-text color="danger" *ngIf="submited && customerProfileForm.controls.mobile.errors?.pattern">
        {{'VALID_NUMBER'| translate}}
      </ion-text>
      <ion-item>
        <ion-label>{{'MOBILE_NUMBER'| translate}}</ion-label>
        <ion-input type="tel" formControlName="mobile"></ion-input>
      </ion-item>
      <ion-text class="ion-padding" color="danger"
        *ngIf="submited && customerProfileForm.controls.email.errors?.required">
        {{'EMAIL'| translate}}
      </ion-text>
      <ion-item>
        <ion-label>{{'EMAIL_ID' | translate}}</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-text class="ion-padding" color="danger"
        *ngIf="submited && customerProfileForm.controls.vechicleType.errors?.required">
        {{'VECHICLE'| translate}}
      </ion-text>
      <ion-item>
        <ion-label>{{'VECHICLE_TYPE' | translate}}</ion-label>
        <ion-select formControlName="vechicleType">
          <ion-select-option value="Two Wheeler"> {{'TWO_WHEELER' | translate}}</ion-select-option>
          <ion-select-option value="Auto">{{'AUTO' | translate}}</ion-select-option>
          <ion-select-option value="Tembo">{{'TEMPO' | translate}}</ion-select-option>
          <ion-select-option value="Truck">{{'TEMPO' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text class="ion-padding" color="danger"
        *ngIf="submited && customerProfileForm.controls.needRecipt.errors?.required">
        {{'RECEIPT' | translate}}
      </ion-text>
      <ion-item>
        <ion-label>{{'NEED_RECEIPT' | translate}}</ion-label>
        <ion-toggle formControlName="needRecipt" color="success"></ion-toggle>
      </ion-item>
      <br />
      <div class="ion-padding">
        <ion-button color="success" type="submit" expand="block">{{'SAVE' | translate}}</ion-button>
      </div>
    </form>
  </div>
</ion-content>